.catalog {
  width: 100%;
  display: flex;
  background-color: $color-black-pearl;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding: 58px 50px 77px;
  }

  @include vp-767 {
    padding: 50px 25px 85px;
  }
}

.catalog__section {
  @include vp-767 {
    width: 100%;
  }
}

.catalog__item {
  @include hover {
    opacity: 0.8;
  }

  @include focus {
    opacity: 0.8;
  }
}

.catalog__title {
  @include roboto(400, 36px, 51px, $color-default-white);
  margin: 0 auto;
  padding-bottom: 64px;

  @include vp-1023 {
    line-height: 49px;
    padding-bottom: 38px;
  }

  @include vp-767 {
    display: none;
  }
}

.catalog__title--mobile {
  display: none;

  @include vp-767 {
    @include roboto(400, 28px, 38px, $color-default-white);
    margin: 0;
    line-height: 38px;
    padding-bottom: 30px;
    display: block;
  }
}

.catalog__list {
  display: grid;
  align-self: center;
  grid-template-columns: 350px 350px 350px;
  gap: 80px;

  @include vp-1279 {
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    max-width: 670px;
    margin: 0 auto;
  }
}

.catalog__link {
  height: 100%;
  display: inherit;
  position: relative;
  padding-top: 50px;
  padding-left: 40px;
  background-image: url("../img/background/catalog-mask.svg");

  @include vp-1023 {
    padding-top: 39px;
    padding-left: 44px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-left: 31px;
  }
}

.catalog__description {
  @include roboto(400, 20px, 30px, $color-default-white);
  line-height: 30px;
  text-decoration: none;

  @include vp-767 {
    @include roboto(400, 18px, 30px, $color-default-white);
    line-height: 30px;
  }
}

.catalog__item--1 {
  background-image: url("../img/background/background-desktop-1.jpg");
  background-color: $color-light-sky-blue;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @include retina {
    background-image: url("../img/background/background-desktop-1@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/background-tab-1.jpg");
    width: 100%;
    height: 250px;

    @include retina {
      background-image: url("../img/background/background-tab-1@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/background-mob-1.jpg");

    @include retina {
      background-image: url("../img/background/background-mob-1@2x.jpg");
    }
  }
}

.catalog__item--2 {
  background-image: url("../img/background/background-desktop-2.jpg");
  background-color: $color-default-black;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @include retina {
    background-image: url("../img/background/background-desktop-2@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/background-tab-2.jpg");
    width: 100%;
    height: 250px;

    @include retina {
      background-image: url("../img/background/background-tab-2@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/background-mob-2.jpg");

    @include retina {
      background-image: url("../img/background/background-mob-2@2x.jpg");
    }
  }
}

.catalog__item--3 {
  background-image: url("../img/background/background-desktop-3.jpg");
  background-color: $color-default-black;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @include retina {
    background-image: url("../img/background/background-desktop-3@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/background-tab-3.jpg");
    width: 100%;
    height: 250px;

    @include retina {
      background-image: url("../img/background/background-tab-3@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/background-mob-3.jpg");

    @include retina {
      background-image: url("../img/background/background-mob-3@2x.jpg");
    }
  }
}

.catalog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  bottom: 0;
  right: 0;
  border: none;
  cursor: pointer;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  @include hover {
    opacity: 0.7;
  }

  @include focus {
    opacity: 0.7;
  }

  @include active {
    color: $color-light-sky-blue;
  }
}
